* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #FFF7F4;
    width: 1440px;
    height: 316px;

    h1 {
        font-family: $main-font;
        font-size: 48px;
    }
}